.button{

    -fx-text-fill: #A60028 ;
    -fx-font-family: 'Square721 BT' ;
    -fx-background-color: transparent ;
    -fx-font-size: 10px ;
    -fx-font-weight : normal;
    -fx-border-radius: 6;
    -fx-border-color: #A60028 ;
    -fx-border-width: 1px;
    -fx-padding: 1px;

}

.button:hover{

    -fx-text-fill: white;
    -fx-background-color: #880021;
    -fx-border-color: transparent;

}

.button:pressed{

    -fx-text-fill: white;
    -fx-background-color: #FF003D;
    -fx-border-color: transparent;
    -fx-font-weight: Bold;

}