.label{

    -fx-font-size: 12px;
    -fx-font-family: "Square721 BT";
    -fx-text-fill: #1a1a1a;

}

.button {

    -fx-background-color: #CE4869;
    -fx-background-radius: 8px;
    -fx-pref-width: 97px;
    -fx-pref-height: 42px;

}


.button:hover{

    -fx-background-color: #C22A4F;

}

.button:pressed{

    -fx-background-color: #FF003D;

}