.label{

    -fx-font-size: 12px;
    -fx-font-family: "Square721 BT";
    -fx-text-fill: white;

}

.button {

    -fx-background-color: #A60028;
    -fx-background-radius: 8px;
    -fx-pref-width: 102px;
    -fx-pref-height: 42px;

}


.button:hover{

    -fx-background-color: #880021;

}

.button:pressed{

    -fx-background-color: #FF003D;

}